<div class="modal-body">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <form class="forms-sample" [formGroup]="DataForm" (ngSubmit)="SubmitData()">
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Name</label>
                <input class="form-control" placeholder="Name" formControlName="Name"  [(ngModel)]="applicant.name" id="Name" />
                <p class="text-danger mt-1" *ngIf="ValidateInput('Name')">required error</p>
              </div>
              <div class="col-md-6">
                <label class="form-label">Email</label>
                <input class="form-control" placeholder="Category" formControlName="Email"  [(ngModel)]="applicant.email" id="Email" />
                <p class="text-danger mt-1" *ngIf="ValidateInput('Email')">required error</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">MobileNumber</label>
                <input class="form-control" placeholder="MobileName" formControlName="MobileNumber"  [(ngModel)]="applicant.mobileNumber" id="MobileNumber" />
                <p class="text-danger mt-1" *ngIf="ValidateInput('MobileNumber')">required error</p>
              </div>
            </div>


            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-primary btn-lg me-1 mb-1 mb-md-0" *ngIf="!EnableSubmit">Submit</button>
              <button class="btn btn-primary btn-lg me-1 mb-1 mb-md-0" type="button" *ngIf="EnableSubmit" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
